bookasa/sample/Crimson.Reader/WinCrimsonReader/Service References/NewYorkTimes/NewYorkTimes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ligosoftware.com/services/NewYorkTimes.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.ligosoftware.com/services/NewYorkTimes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Crimson.Catalog.NewYorkTimes" />
  <xs:element name="BestSellerLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BestSellerListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BestSellerListsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestSellers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publicationdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestSellersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Crimson.Catalog.NewYorkTimes" minOccurs="0" name="BestSellersResult" nillable="true" type="q2:ArrayOfBestSeller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovieReviewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodaysNewsWire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodaysNewsWireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Crimson.Catalog.NewYorkTimes" minOccurs="0" name="TodaysNewsWireResult" nillable="true" type="q3:ArrayOfNewsWire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecentNewsWire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecentNewsWireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Crimson.Catalog.NewYorkTimes" minOccurs="0" name="RecentNewsWireResult" nillable="true" type="q4:ArrayOfNewsWire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>